# IntelliJ
.idea/

# Build
.bsp/
target/
venv/

# Gradle
.gradle/
**/build/
gradle-app.setting
!gradle-wrapper.jar # Keep the Gradle wrapper JAR

# Project Specific
docker/.localstack/data
docker/.kafka/data
docker/.kafka/out
